<!DOCTYPE html>
<html>
<head>
    <title>Magazine Tags Scraper</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>
<body>
  <div class="container">
      <div class="header">
          <nav>

          </nav>
          <h3 class="text-muted">Magazine Tags Scraper</h3>
      </div>

      <div class="row marketing">

        <h4>Het keuze menu</h4>
        <p>Maak een keuze, wil je product tags uit de folder halen of click informatie uit de folder halen?</p>
        <br>

<button type="button" onclick="location.href='/step2'">Tags</button>
<button type="button" onclick="location.href='/clickhome'">Click</button>


</div>

<footer class="footer">
    <p>© Mark Romme</p>
</footer>

</body>
</html>
