<!doctype html>
<head>
    <title>Magazine Tags Scraper</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>
<title>Upload het csv bestand!</title>
<h1>Upload new File</h1>
<form action="/step2" method=post enctype=multipart/form-data>
  <p><input type=file name=file>
     <input type=submit value=Upload>
</form> <font size="3" color="red">That file has not the right extension, we only accept csv format.</font>
